.InputWrapper {
  display: flex;
}

.input {
  background: transparent;
  width: 100%;
  text-shadow: 0 0 0 var(--primary-color);
  height: 40px;
  border-radius: 4px;
  padding: 5px;
}

.readonly {
  opacity: 0.7;
}
